* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://tse2.mm.bing.net/th/id/OIP.aYDzaBtGiQiQ2RPTtxJDDwHaE8?r=0&rs=1&pid=ImgDetMain&o=7&rm=3);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
table{
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-top: 80px;
    border: 13px;
    padding: 20px;
}

th{
    font-size: 30px;
    padding: 20px;
    background-color: aqua;
}
td{
    font-size: 30px;
    background-color: rgba(0, 255, 255, 0.267);
    padding: 10px;
}
h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    margin: 75px auto 0;

    background-color: rgba(0, 255, 255, 0.7);
    padding: 20px;  
    border-radius: 60px;
}
